<h1>INDEX PAGE</h1>
<div>
<p>Book your space trip !</p>
<form action="/trips" method="get">
  <input type="date" id="start_date" name="start_date">
  <input type="date" id="end_date" name="end_date">
  <input type="text" id="destination" name="destination" required>
  <input type="submit" value="Search">
</form>

</div>

<div class="container">
  <ul><% @trips.each do |trip| %></ul>
    <%= link_to trip_path(trip) do %>
    <div>
      <h2>Trip to <%= trip.destination %></h2>
      <p><%= trip.destination %></p>
      <p><%= trip.price_per_day %></p>
    </div>
    <% end %>
  <% end %>
</div>

<div><%= link_to "Back to Homepage", trips_path %></div>
