<div class="container">
  <div class="title">
    <h1>Book your space trip !</h1>
  </div>
  <form action="/trips" method="get" class="search-form">
      <!-- <select id="departure" name="departure">
      <option value="">Departure</option>
      <option value="1">Paris</option>
      <option value="2">New York</option>
      <option value="3">London</option> -->
    <label for="start_date" class="search-form-label">From: </label>
    <input type="date" id="start_date" name="start_date" class="search-form-input">
    <label for="end_date" class="search-form-label">From: </label>
    <input type="date" id="end_date" name="end_date" class="search-form-input">
    <label for="number_of_travellers" class="search-form-label">Number: </label>
    <input type="text" id="number_of_travellers" name="number_of_travellers" placeholder="Number of travellers ?" class="search-form-input">
    <label for="destination" class="search-form-label">Destination: </label>
    <input type="text" id="destination" name="destination" placeholder="Type your destination" class="search-form-input">
    <button type="submit" class="small-btn-transparent"><span>Search</span></button>
  </form>

<div class="center"><button type="button" class="big-btn-full" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg"><span>Show the spatioports</span></button></div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id=mapModal>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
     <div style="width: 900px; height: 500px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>

  <div class="row">
      <% if @trips == [] %>
        <p class="vh">Sorry no available trips with your criterias ... Han Solo is busy</p>
      <% else %>
        <% @trips.each do |trip| %>
          <div class="col-3">
            <%= link_to trip_path(trip) do %>
              <div class="trip-card">
                <% if trip.photo.attached? %>
                <div class="trip-card-recap-img" style="background-image: url(<%= cl_image_path trip.photo.key %>);"></div>
                <% else %>
                <div class="trip-card-recap-img" style="background-image: url(<%= image_path "space.jpg" %>);"></div>
                <% end %>
                <div class="trip-card-content">
                  <h3><%= "Trip to #{trip.destination}" %></h3>
                  <p>Departure : <%= trip.spatioport.name %></p>
                  <p>Minimum duration : <%= trip.min_duration %></p>
                  <p>Spaceship's maximum capacity : <%= trip.shuttle.max_capacity %></p>
                  <div class="trip-card-price"> <%= number_with_delimiter(trip.price_per_day, :delimiter => ' ') %> Galactic credits / day</p></div>
                </div>
              </div>
            <% end %>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
