<div class="container">
  <div>
    <div>
      <h2>Booking detail</h2>
    </div>
    <div>
      <p>Your destination : <%= @trip.destination %></p>
      <p>Booking dates : from  <%= @start_date %> to <%= @end_date %> </p>
      <p>Number of travellers : <%= @number %></p>
    </div>
    <div>
      <h3>Total price = <%= number_with_delimiter(@trip.price_per_day * @duration, :delimiter => ' ') %> Galactic credits</h3>
    </div>
    <div class="big-btn-transparent"><%= link_to "Book your trip", booked_path %></div>
    </div>
      <div>
    <h2>Spacetrip details</h2>
    <div>
      <p>Suscipit nostra porta dictumst torquent non parturient. Tempus; duis nibh hac pellentesque sociis ultricies cursus auctor. Himenaeos mollis aptent posuere pharetra. Porttitor fusce consectetur tempor penatibus pharetra facilisis posuere aliquam pharetra aliquam quisque ipsum. Nullam nam bibendum primis cursus convallis sociosqu vulputate scelerisque nam vehicula euismod ut. Laoreet elementum cursus vulputate sit, quis luctus enim. Condimentum dolor vivamus pulvinar aliquet imperdiet semper condimentum nascetur dolor facilisi. Arcu proin viverra felis ridiculus lorem taciti vivamus platea turpis condimentum scelerisque posuere. Placerat pulvinar mollis pretium habitasse velit magna morbi fermentum vitae ligula tortor.</p>
    </div>
  </div>

    <div>
    <h2>Pilot and shuttle details</h2>
    <div>
      <p>Suscipit nostra porta dictumst torquent non parturient. Tempus; duis nibh hac pellentesque sociis ultricies cursus auctor. Himenaeos mollis aptent posuere pharetra. Porttitor fusce consectetur tempor penatibus pharetra facilisis posuere aliquam pharetra aliquam quisque ipsum. Nullam nam bibendum primis cursus convallis sociosqu vulputate scelerisque nam vehicula euismod ut. Laoreet elementum cursus vulputate sit, quis luctus enim. Condimentum dolor vivamus pulvinar aliquet imperdiet semper condimentum nascetur dolor facilisi. Arcu proin viverra felis ridiculus lorem taciti vivamus platea turpis condimentum scelerisque posuere. Placerat pulvinar mollis pretium habitasse velit magna morbi fermentum vitae ligula tortor.</p>
    </div>
  </div>
  </div>
  <%= link_to "Back to homepage", trips_path %>
</div>
