<div class="container">
  <div>
  <% if cl_image_tag @user.photo.key %>
    <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
  <div>
    <div>
      <h2>User detail</h2>
    </div>
    <div>
      <p><%= @user.first_name %> <%= @user.last_name %> </p>

    </div>

  </div>

  <%= link_to "Delete user",
            user_path(@user),
            method: :delete,
            data: { confirm: "Are you sure?" }  %>
  <%= link_to "Back to users", users_path  %>

</div>
