<div class="container">
  <div class ="row margin">
    <div class="col-6">
      <div class="avatar-marging">
        <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, height: 300, width: 500, crop: :fill %>
        <% end %>
      </div>
    </div>
    <div class="col-6 centre">
        <h1>Hi, <%= @user.first_name %> <%= @user.last_name %> ! 🚀</h1>
    </div>
  </div>

  <div class="title-dashboard">
    <h2>Your bookings as a traveller</h2>
  </div>

  <div class="row">
    <% @user.bookings.each do |booking| %>
      <div class="col-4">
        <div class="trip-card-recap margin delete-container">
          <div class="trip-card-recap-content">
            <div class="trip-card-recap-text">
              <div  class="trip-card-recap-infos">
                <h3>Trip to: <%= booking.trip.destination %></h3>
                <% if booking.confirmed == true %>
                <p class="confirmed"><strong>CONFIRMED</strong></p>
                <% else %>
                <p class="unconfirmed"><strong>TO BE CONFIRMED</strong></p>
                <% end %>
                <div>Departure: <%= booking.start_date %></div>
                <div>Return: <%= booking.end_date %></div>
                <div> Total price = <%= number_with_delimiter(booking.trip.price_per_day*(booking.end_date-booking.start_date).to_i, :delimiter => ' ') %> Galactic credits</p></div>
              </div>
            </div>
            <% if booking.trip.photo.attached? %>
                <div class="trip-card-recap-img" style="background-image: url(<%= cl_image_path booking.trip.photo.key %>);"></div>
              <% else %>
                <div class="trip-card-recap-img" style="background-image: url(<%= image_path "space.jpg" %>);"></div>
              <% end %>
          </div>
          <%= link_to booking_path(booking), method: :delete do %>
          <div class="delete">+</div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="title-dashboard">
    <h2>Your bookings as a pilot</h2>
  </div>

  <div class="row">
    <% @requests.each do |request| %>
      <div class="col-4">
        <div class="trip-card-recap margin">
          <div class="trip-card-recap-content">
            <div class="trip-card-recap-text">
              <div  class="trip-card-recap-infos">
                <h3>Trip to: <%= request.trip.destination %></h3>
                <% if request.confirmed %>
                <p class="confirmed"><strong>CONFIRMED</strong></p>
                <% else %>
                <p><strong><%= link_to 'ACCEPT REQUEST', booking_path(request), method: :patch, class: "confirmation-btn"%></strong></p>
                <% end %>
                <div>Departure: <%= request.start_date %></div>
                <div>Return: <%= request.end_date %></div>
                <div> Total price = <%= number_with_delimiter(request.trip.price_per_day*(request.end_date-request.start_date).to_i, :delimiter => ' ') %> Galactic credits</p></div>
              </div>
            </div>
            <% if request.trip.photo.attached? %>
                <div class="trip-card-recap-img" style="background-image: url(<%= cl_image_path request.trip.photo.key %>);"></div>
              <% else %>
                <div class="trip-card-recap-img" style="background-image: url(<%= image_path "space.jpg" %>);"></div>
              <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>


  <div class="title-dashboard">
    <h2>Your proposed trips</h2>
  </div>
    <div class="row">
      <% @user.my_trips.each do |trip| %>
        <div class="col-4">
          <div class="trip-card-recap margin">
            <div class="trip-card-recap-content">
              <div class="trip-card-recap-text">
                <div  class="trip-card-recap-infos">
                  <h3>Trip to: <%= trip.destination %></h3>
                  <div>Minimum duration : <%= trip.min_duration %></div>
                  <div>Maximum capacity of the spaceship : <%= trip.shuttle.max_capacity %></div>
                  <div> <%= number_with_delimiter(trip.price_per_day, :delimiter => ' ') %> Galactic credits / day</div>
                </div>
              </div>
              <% if trip.photo.attached? %>
                <div class="trip-card-recap-img" style="background-image: url(<%= cl_image_path trip.photo.key %>);"></div>
              <% else %>
                <div class="trip-card-recap-img" style="background-image: url(<%= image_path "space.jpg" %>);"></div>
              <% end %>
            </div>
            <div class="button-card-recap">
              <div class="small-btn-full"><span><%= link_to "See details", trip_path(trip) %></span></div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="col-4">
       <%= link_to new_user_trip_path(@user) do %>
      <div class="trip-card-recap margin centre bordered">
        <div class="add-trip centre">+</div>
      </div>
      <% end %>
    </div>
</div>
