<div class="navbar">
  <%= image_tag 'logo_white.png' %>
  <div class="navbar-text">
    <h1>Milky Rails</h1>
    <p>Space has never been so close</p>
  </div>
</div>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="trip-card">
        <div class="trip-card-img" style="background-image: url(<%= image_path 'space.jpg' %>);"></div>
        <div class="trip-card-content">
          <h1>Titre</h1>
          <p>Description</p>
          <div class="trip-card-price">Price</div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="card-invoice">
        <div class="card-invoice-img" style="background-image: url(<%= image_path 'space.jpg' %>);"></div>
        <div class="card-invoice-content">
          <div class="card-invoice-infos">
            <h2 class="card-invoice-text">Trip Name</h2>
          </div>
          <div class="card-invoice-infos">
            <div>
              <ul>
                <li class="card-invoice-price-detail">
                  <div class="card-invoice-text">xxx</div>
                  <div class="card-invoice-text">xxx €</div>
                </li>
                <li class="card-invoice-price-detail">
                  <div class="card-invoice-text">xxx</div>
                  <div class="card-invoice-text">xxx €</div>
                </li>
                <li class="card-invoice-price-detail">
                  <div class="card-invoice-text">xxx</div>
                  <div class="card-invoice-text">xxx €</div>
                </li>
              </ul>
              <div class="card-invoice-price-total">
                <div class="card-invoice-text">Price</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <div class="trip-card-recap">
        <div class="trip-card-recap-content">
          <div class="trip-card-recap-text">
            <div  class="trip-card-recap-infos">
              <div>Dates: XX/XX to XX/XX</div>
              <div>Destination: Venus</div>
              <div>With User</div>
            </div>
            <div>
              <div>Total paid: XXX €</div>
            </div>
          </div>
          <div class="trip-card-recap-img" style="background-image: url(<%= image_path 'space.jpg' %>);"></div>
        </div>
        <div class="button-card-recap">
          <div class="small-btn-full"><span>See details</span></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-5">
      <div class="card-confirmation">
        <div class="card-confirmation-content">
          <div class="card-confirmation-text">
            <div  class="card-confirmation-infos">
              <div>Your destination: Planet Venus</div>
              <div>Booking dates: XX/XX to XX/XX</div>
              <div>User: Name</div>
              <div>Rating: XXX</div>
            </div>
          </div>
          <div class="card-confirmation-box-img">
            <div class="card-confirmation-img" style="background-image: url(<%= image_path 'space.jpg' %>);"></div>
            <div class="small-btn-full"><span>See details</span></div>
          </div>
        </div>
        <div class="card-confirmation-buttons">
          <div class="big-btn-full-accept"><span>Accept booking</span></div>
          <div class="big-btn-full-refuse"><span>Refuse booking</span></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-5">
      <div class="card-user">
        <div class="card-user-text">
          <div>Your destination: Planet Venus</div>
          <div>Booking dates: XX/XX to XX/XX</div>
          <div>Your client: User</div>
        </div>
        <div class="card-user-img" style="background-image: url(<%= image_path 'space.jpg' %>);"></div>
      </div>
    </div>
  </div>

</div>



<div class="footer">
  <span>MilkyRails © 2022</span>
  <%= link_to root_path do %>
    <%= image_tag 'logo_white.png', width: '60px' %>
  <% end %>
  <span>Team TennisManager</span>
</div>
