<div class="navbar">
  <%= image_tag 'logo_white.png' %>
  <div class="navbar-text">
    <h1>Milky Rails</h1>
    <p>Space has never been so close</p>
  </div>
</div>



<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="trip-card">
        <div class="trip-card-img" style="background-image: url(<%= image_path 'space.jpg' %>);"></div>
        <div class="trip-card-content">
          <h1>Titre</h1>
          <p>Description</p>
          <div class="trip-card-price">Price</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="trip-card-recap">
        <div class="trip-card-recap-content">
          <div class="trip-card-recap-text">
            <div  class="trip-card-recap-infos">
              <div>Dates: XX/XX to XX/XX</div>
              <div>Destination: Venus</div>
              <div>With User</div>
            </div>
            <div>
              <div>Total paid: XXX €</div>
            </div>
          </div>
          <div class="trip-card-recap-img" style="background-image: url(<%= image_path 'space.jpg' %>);"></div>
        </div>
        <div class="button-card-recap">
          <div class="small-btn-full"><span>See details</span></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <span>MilkyRails © 2022</span>
  <%= link_to root_path do %>
    <%= image_tag 'logo_white.png', width: '60px' %>
  <% end %>
  <span>Team TennisManager</span>
</div>
