<!DOCTYPE html>
<html>
  <head>
    <title>MilkyRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="navbar">
      <%= image_tag 'logo_white.png' %>
      <div class="navbar-text">
        <h1>Milky Rails</h1>
        <p>Space has never been so close</p>
      </div>
      <% if user_signed_in? %>
        <div class = "text-white"><%= current_user.email %></div>
        <div><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "text-white" %></div>
      <% else %>
        <div><%= link_to "Login", new_user_session_path, class: "text-white" %></div>
      <% end %>
      <div class="button big-btn-transparent">
        <span>Button</span>
      </div>
    </div>
    <%= yield %>
    <%= render 'shared/flashes' %>
  </body>
</html>
